@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to bottom, #35403A, #4D5950);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #3b5c3a93;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #1f4d34;
    text-align: center;
    text-shadow: 1px 1px 20px #1f4d34;
}

h2{
    color: #4D5950;
}

p{
    text-align: justify;
}